.container
  .row
    .col-md-12
      .col-md-5
        .row
          %label{class: "title-h3"} #{@game.name}
        .row
          %h5 Game Description:
          .well.well-sm
            = @game.description
        .row
          %h5 Number of Rules: #{@rules.count}
        .row
          %h5 Number of game members: #{@game.users.count}
        -# %br
        -# .row
        -#   %h4 Completed Rules
        -#   %div{id: "rules", style: "height:270px;"}
        -#     %table{class: "table table-hover table-condensed table-striped"}
        -#       - @completed_rules.each do |rule|
        -#         %tr
        -#           %td
        -#             %i{class: "fa fa-check-square-o"}
        -#           %td
        -#             = rule.description
        -#           %td
        -#             %span{class: "#{rule_priority(rule)}"}
        -#               = rule.priority.humanize
      .col-md-6.col-md-offset-1
        .col-md-12.leaderboard-upper
          %label{class:"game-list-title", style: "color:white;"} Leaderboard
          - @top_users.each do |user|
            %div
              = user.name
              .title-h4
                %span{class: "label label-info"}
                  = user.rank
              .title-h4
                %span{class: "label label-success"}
                  #{user.pts} points

        .col-md-12.leaderboard-col-left
          .leaderboard-col-right
            .col-md-10{style: "margin-top:0px;margin-left:30px;"}
              %table{class: "table table-hover table-condensed table-striped"}
                - @users.each do |user|
                  %tr
                    %td
                      = user.name
                    %td
                      .title-h4
                        %span{class: "label label-info pull-right"}
                          = user.rank
                    %td
                      .title-h4
                        %span{class: "label label-success pull-right"}
                          #{user.pts} points

  .row
    .col-md-4.col-md-offset-3
      = link_to 'Back to Profile', user_path(@user), class: "btn btn-default btn-block"
