.container
  .row
    .col-md-12
      .col-md-5
        .row
          %label{class: "title-h3"} #{@game.name}
        .row
          %h5 #{t('views.login.game_description')}:
          .well.well-sm
            = @game.description
        .row
          %h5 #{t('views.login.number_of_rules')}: #{@rules.count}
        .row
          %h5 #{t('views.login.number_of_game_members')}: #{@game.users.count}
        -# %br
        -# .row
        -#   %h4 Completed Rules
        -#   %div{id: "rules", style: "height:270px;"}
        -#     %table{class: "table table-hover table-condensed table-striped"}
        -#       - @completed_rules.each do |rule|
        -#         %tr
        -#           %td
        -#             %i{class: "fa fa-check-square-o"}
        -#           %td
        -#             = rule.description
        -#           %td
        -#             %span{class: "#{rule_priority(rule)}"}
        -#               = rule.priority.humanize
      .col-md-6.col-md-offset-1
        .col-md-12.leaderboard-upper
          %label{class:"game-list-title", style: "color:white;"} #{t('views.home.leaderboard')}
          - @top_users.each do |user|
            %div
              = user.name
              .title-h4
                %span{class: "label label-info"}
                  = user.rank
              .title-h4
                %span{class: "label label-success"}
                  #{user.pts} #{t('views.home.points', count: user.pts)}

        .col-md-12.leaderboard-col-left
          .leaderboard-col-right
            .col-md-10{style: "margin-top:0px;margin-left:30px;"}
              %table{class: "table table-hover table-condensed table-striped"}
                - @users.each do |user|
                  %tr
                    %td
                      = user.name
                    %td
                      .title-h4
                        %span{class: "label label-info pull-right"}
                          = user.rank
                    %td
                      .title-h4
                        %span{class: "label label-success pull-right"}
                          #{user.pts} #{t('views.home.points', count: user.pts)}

  .row
    .col-md-4.col-md-offset-3
      = link_to t('views.creator_profile.back_to_profile'), user_path(@user), class: "btn btn-default btn-block"
