.col-md-offset-1
  = form_for [@creator, @game], html: {class: "form-horizontal"} do |f|
    - if @game.errors.any?
      .alert.alert-danger
        %h4= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
        %ul
          - @game.errors.full_messages.each do |msg|
            %li= msg
    .col-md-7
      .form-group
        = f.label :name, t('views.creator_profile.game_name'), class: "col-sm-6 control-label"
        .col-sm-6
          = f.text_field :name, placeholder: t('views.creator_profile.game_name'), class: "form-control"
      .form-group
        = f.label :description, t('views.login.game_description'), class: "col-sm-6 control-label"
        .col-sm-6
          = f.text_area :description, placeholder: t('views.login.game_description'), class: "form-control"
      .form-group
        = f.label :pts_per_rule, t('views.creator_profile.points_per_rule'), class: "col-sm-6 control-label"
        .col-sm-6
          = f.text_field :pts_per_rule, placeholder: t('views.creator_profile.points_per_rule'), class: "form-control", type: 'number'
      .form-group
        = f.label :expert_rank, t('views.creator_profile.game_ranks'), class: "col-sm-6 control-label"

        .col-sm-6
          = f.text_field :expert_rank, placeholder: t("views.creator_profile.expert_rank"), class: "form-control"
        .col-sm-6.col-md-offset-6
          = f.text_field :normal_rank, placeholder: t("views.creator_profile.normal_rank"), class: "form-control"
        .col-sm-6.col-md-offset-6
          = f.text_field :starter_rank, placeholder: t("views.creator_profile.starter_rank"), class: "form-control"
      .form-group
        .col-md-6.col-md-offset-6
          = f.submit t('views.creator_profile.save'), class: "btn btn-success btn-block"
