.container
  .row
    .col-md-3
      %label{class: "title-h3"} #{@game.name}
    .col-md-3
      = link_to 'Edit Game', edit_creator_game_path(@creator, @game), class: "btn btn-warning"
      %button{class: "btn btn-success", data: {toggle:"modal", target:"#inviteModal"}} Invite New Users
    .col-md-6.pull-right
      %label{class:"game-list-title"} Pending Rules
      .row
        .col-md-12
          - if @pending_rules.any?
            %div{id: "rules", style: "height:171px;"}
              %table{class: "table table-hover table-condensed table-striped"}
                - @pending_rules.each do |rule|
                  %tr
                    %td
                      = get_rule_user(rule).name
                    %td
                      = rule.description
                    %td
                      %span{class: "#{rule_priority(rule)}"}
                        = rule.priority.humanize
                    %td
                      = form_for rule, :url => rule_complete_user_rule_path(@user, rule), :html => {:method => :post} do |f|
                        = f.hidden_field :game_id, value: @game.id

                        = f.button type: "submit", class: "mark", style: "color:#d35400;" do
                          %i{class: "fa fa-square-o"}
                          Approve
          - else
            There are no pending rules..
    .col-md-5
      %h5 Game Description:
      .well.well-sm
        = @game.description
      %h5 Number of Rules: #{@game.rules.count}
      %h5 Number of game members: #{@game.users.count}
  .row
    .row
      .col-md-5
        %label{class:"title-h3"} Rules
        %button{class: "btn btn-sm btn-success pull-right", style: "width:127px;", data: {toggle:"modal", target:"#RuleModal"}} Add New Rule
      .col-md-6.col-md-offset-1
        %label{class:"title-h3"} Leaderboard

    .row
      .col-md-5
        - unless @game.rules.nil?
          %div{id: "rules"}
            %table{class: "table table-hover table-condensed table-striped"}
              - @game.rules.each do |rule|
                - unless rule.id.nil?
                  %tr
                    %td
                      = rule.description
                    %td
                      %span{class: "#{rule_priority(rule)}"}
                        = rule.priority.humanize
                    %td
                      -# %a{data: {toggle:"modal", target:"#RuleEditModal"}}
                      = link_to edit_creator_game_rule_path(@creator, @game, rule) do
                        %i{class: "fa fa-pencil"}
                    %td
                      = link_to creator_game_rule_path(@creator, @game, rule), :method => :delete, :data => { :confirm => "Delete #{rule.description.truncate(40)} Rule" } do
                        %i{class: "fa fa-trash-o pull-right", style: "color:red;"}
        - else
          No Rules created yet!

      .col-md-6.col-md-offset-1
        - if @game.users.any?
          %div{id: "rules"}
            %table{class: "table table-hover table-condensed table-striped"}
              - @users.each do |user|
                %tr
                  %td
                    = user.name
                  %td
                    .title-h4
                      %span{class: "label label-info pull-right"}
                        = user.rank
                  %td
                    .title-h4
                      %span{class: "label label-success pull-right"}
                        #{user.pts} points
        - else
          No users have joined the game yet!
          Begin inviting users
  .col-md-3.col-md-offset-4{style:"margin-top:-80px;"}
    = link_to 'Back to Profile', creator_path, class: "btn btn-default btn-block"

#inviteModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Invite user to your #{@game.name} game
      .modal-body
        = form_for :user, :as => @user, :url => invitation_path(@user), :html => {:method => :post, :class => "form-horizontal"} do |f|
          - @user.class.invite_key_fields.each do |field|
            = f.hidden_field :game_id, value: @game.id
            .form-group
              = f.label field, "User Email", class: "control-label col-sm-4"
              .col-md-6
                = f.text_field field, placeholder: "User Email", class: "form-control"
          .form-group
            .col-md-offset-4
              = f.submit "Send Invitation", class:"btn btn-success"
              %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
#RuleModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Add new rule to your #{@game.name} game
      .modal-body
        = form_for @rule, url: creator_game_rules_path(@creator, @game), :html => {:class => "form-horizontal"} do |f|
          .form-group
            .col-md-12
              = f.text_field :description, placeholder: "Rule Description", class: "form-control"
          .form-group
            .col-md-12
              .col-md-3
                = f.label :priority, "Rule Priority"
              .radio
                .col-md-2
                  %label{value: :high}
                    = f.radio_button :priority,:high
                    High
                .col-md-2
                  %label{value: :normal}
                    = f.radio_button :priority,:normal
                    Normal
                .col-md-2
                  %label{value: :low}
                    = f.radio_button :priority,:low
                    Low
          .form-group
            .col-md-offset-4
              = f.submit "Add Rule", class:"btn btn-success"
              %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close

-# #RuleEditModal.modal.fade
-#   .modal-dialog
-#     .modal-content
-#       .modal-header
-#         %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
-#         %h4.modal-title Add new rule to your #{@game.name} game
-#       .modal-body
-#         = form_for @selected_rule, url: creator_game_rule_path(@creator, @game), :html => {:method => :put, :class => "form-horizontal"} do |f|
-#           .form-group
-#             .col-md-12
-#               = f.text_field :description, placeholder: "Rule Description", class: "form-control"
-#           .form-group
-#             .col-md-12
-#               .col-md-3
-#                 = f.label :priority, "Rule Priority"
-#               .radio
-#                 .col-md-2
-#                   %label{value: :high}
-#                     = f.radio_button :priority,:high
-#                     High
-#                 .col-md-2
-#                   %label{value: :normal}
-#                     = f.radio_button :priority,:normal
-#                     Normal
-#                 .col-md-2
-#                   %label{value: :low}
-#                     = f.radio_button :priority,:low
-#                     Low
-#           .form-group
-#             .col-md-offset-4
-#               = f.submit "Add Rule", class:"btn btn-success"
-#               %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
