.container
  .row.profile-info-user
    .col-md-offset-1
      .ribbon.ribbon-blue.ribbon-large.ribbon-div{style: "right:-30px;"}
        .banner
          .text
            User
      %div{style: "background-color: rgba(255, 255, 255);height:168px;"}
        .col-md-1
          = image_tag @user.avatar.url , class: "img-circle profile-image"
        .col-md-8
          .row{style: "padding-top:10px;"}
            .col-md-3
              %h2 #{@user.name}
            .col-md-5{style: "margin-top:20px;"}
              %span{class: "label label-default title-h4"}
                #{@user.rank}
            .col-md-4{style: "margin-top:20px;"}
              %span{class: "label label-success title-h4"}
                #{@user.pts} points

          .row
            .col-md-3
              %label{class: "game-list-title"} #{pluralize(4, "Badge")}
            .col-md-4
              %label{class: "game-list-title"} #{pluralize(@comp_rules, "Completed Rule")}
            .col-md-4
            %label{class: "game-list-title"} Leaderboard position: #{@position.ordinalize}

  .row{style: "margin-top:10px;"}
    .col-md-5
      .row
        %label{class: "game-list-title"} Games #{@game.name}
        = link_to "View Game", user_game_path(@user, @game), class: "pull-right btn btn-info", style: "margin-top:5px;margin-right:65px;"
      .row
      .row
        %label{class:"game-list-title"} Rules
      .row
        %div{id: "rules", style: "height:270px;"}
          %table{class: "table table-hover table-condensed table-striped"}
            - @rules.each do |rule|
              %tr
                %td
                  = rule.description
                %td
                  %span{class: "#{rule_priority(rule)}"}
                    = rule.priority.humanize
                %td
                  - unless check_status(@user, rule)
                    = form_for rule, :url => rule_pending_user_rule_path(@user, rule), :html => {:method => :post} do |f|
                      = f.button type: "submit", class: "mark" do
                        %i{class: "#{rule_status(@user,rule)}"}
                        #{rule_status_text(@user,rule)}
                  - else
                    %i{class: "#{rule_status(@user,rule)}"}
                    #{rule_status_text(@user,rule)}

    .col-md-6.col-md-offset-1
      .row
        %label{class: "game-list-title"} Game Badges
      .row{id: "rules", style: "height:385px;text-align:center;"}
        .col-md-3
          = image_tag '3ambadge.png', class: "user-badge"
          badge name
        .col-md-3
          = image_tag  'signins-1.png', class: "user-badge"
          badge name
        .col-md-3
          = image_tag  'signins-2.png', class: "user-badge"
          badge name
        .col-md-3
          = image_tag  'signins-3.png', class: "user-badge"
          badge name
        .col-md-3
          = image_tag  'badge.png', class: "user-badge"
        .col-md-3
          = image_tag  'badge.png', class: "user-badge"
        .col-md-3
          = image_tag  'badge.png', class: "user-badge"
        .col-md-3
          = image_tag  'badge.png', class: "user-badge"
        .col-md-3
          = image_tag  'badge.png', class: "user-badge"
        .col-md-3
          = image_tag  'badge.png', class: "user-badge"
        .col-md-3
          = image_tag  'badge.png', class: "user-badge"
        .col-md-3
          = image_tag  'badge.png', class: "user-badge"
        .col-md-3
          = image_tag  'badge.png', class: "user-badge"