.container
  .row.profile-info-user
    .col-md-offset-1
      .ribbon.ribbon-blue.ribbon-large.ribbon-div
        .banner
          .text
            =t('views.home.user')
      %div{style: "background-color: rgba(255, 255, 255);height:168px;"}
        .col-md-1
          = image_tag @user.avatar.url , class: "img-circle profile-image"
        .col-md-10
          .row{style: "padding-top:10px;"}
            .col-md-3
              %h2 #{@user.name}
            .col-md-5{style: "margin-top:20px;"}
              %span{class: "label label-default title-h4"}
                #{@user.rank}
            .col-md-4{style: "margin-top:20px;"}
              %span{class: "label label-success title-h4"}
                #{@user.pts} #{t('views.home.points', count: @user.pts)}
          .row
            .col-md-2
              %label{class: "game-list-title"} #{@earned_badges} #{t('views.home.badges', count: @earned_badges)}
            .col-md-3
              %label{class: "game-list-title"} #{@pend_rules} #{t('views.user_profile.pending_rules_count', count: @pend_rules)}
            .col-md-3
              %label{class: "game-list-title"} #{@comp_rules} #{t('views.user_profile.comp_rules_count', count: @comp_rules)}
            .col-md-4
              %label{class: "game-list-title"} #{t('views.home.leaderboard_position')}: #{@position.ordinalize}

  .row{style: "margin-top:10px;"}
    .col-md-5
      .row
        %label{class: "game-list-title"} #{@game.name}
        = link_to t('views.home.view_game'), user_game_path(@user, @game), class: "pull-right btn btn-info", style: "margin-top:5px;margin-right:65px;"
      .row
      .row
        %label{class:"game-list-title"} #{t('views.home.rules')}
      .row
        %div{id: "rules", style: "height:270px;"}
          %table{class: "table table-hover table-condensed table-striped"}
            - @rules.each do |rule|
              %tr
                %td
                  = rule.description
                %td
                  %span{class: "#{rule_priority(rule)}"}
                    #{rule_priority_text(rule)}
                %td
                  - unless check_status(@user, rule)
                    = form_for rule, :url => rule_pending_user_rule_path(@user, rule), :html => {:method => :post} do |f|
                      = f.button type: "submit", class: "mark" do
                        %i{class: "#{rule_status(@user,rule)}"}
                        #{rule_status_text(@user,rule)}
                  - else
                    %i{class: "#{rule_status(@user,rule)}", style: "#{rule_status_color}"}
                    %label{style: "#{rule_status_color}"} #{rule_status_text(@user,rule)}

    .col-md-6.col-md-offset-1
      .row
        %label{class: "game-list-title"} #{t('views.home.competition_badges')}
      .row{id: "rules", style: "height:385px;text-align:center;"}
        - @badges.each do |badge|
          .col-md-3{title: "#{badge_name(badge)}", data: {toggle: "tooltip", placement: "top"}}
            = image_tag badge.badge.url, class: "user-badge #{check_achieved(badge)}"