.container-fluid
  .row
    .col-md-5.col-md-offset-5
      %h3 Gamify
    .col-md-5.col-md-offset-4
      %h4 Gamify your work ... Gamify your life!

  - unless user_signed_in? || creator_signed_in?
    .row
      .col-md-4.col-md-offset-1.login-wrap
        %label{class: "title-h5"} #{t('views.login.creator')}
        = form_for("creator", url: new_creator_session_path, html: {class: "form-horizontal"}) do |c|
          .form-group
            .col-xs-12
              = c.text_field :email, placeholder: t('views.home.email'), class: "form-control"
          .form-group
            .col-xs-12
              = c.password_field :password, autocomplete: "off", placeholder: t('views.home.password'), class: "form-control"
          .form-group
            .col-xs-12
              = c.submit t('views.login.signin'), class: "btn btn-warning btn-block"

        .col-md-6{style: "margin-left:-15px;width:415px;"}
          = link_to t('views.login.signup'), new_creator_registration_path, class: "btn btn-primary btn-block"

      -# .col-md-2
      -#   = image_tag 'logo.png', class: "img-circle img-responsive", style:"width:170px;margin-top:50px;margin-left:-120px;"
      .col-md-4.col-md-offset-2.login-wrap
        %label{class: "title-5"} #{t('views.home.user')}
        = form_for("user", url: new_user_session_path, html: {class: "form-horizontal"}) do |c|
          .form-group
            .col-xs-12
              = c.text_field :email, placeholder: t('views.home.email'), class: "form-control"
          .form-group
            .col-xs-12
              = c.password_field :password, autocomplete: "off", placeholder: t('views.home.password'), class: "form-control"
          .form-group
            .col-xs-12
              = c.submit t('views.login.signin'), class: "btn btn-info btn-block"

  - else
    .row
    %br
      .col-md-4.col-md-offset-4
        - if creator_signed_in?
          = link_to "Begin", creator_path(current_creator), class: "btn btn-block btn-primary"

        - else
          - if user_signed_in?
            = link_to "Begin", user_path(current_user), class: "btn btn-block btn-primary"