.container
  .row.profile-info
    .col-md-offset-1
      .ribbon.ribbon-orange.ribbon-large.ribbon-div{style: "right:-30px;"}
        .banner
          .text
            Creator
      %div{style: "background-color: rgba(255, 255, 255);height:168px;"}
        .col-md-1
          = image_tag @creator.avatar.url , class: "img-circle profile-image"
        .col-md-8
          .row{style: "padding-top:10px;"}
            %h2{style: "margin-left:10px;"} #{@creator.name}
          .row
            .col-md-3
              %label{class: "title-h5"} #{pluralize(@games.count, "Game")}
            .col-md-3
              %h4 #{pluralize(@rules_count, "Rule")}
            .col-md-5
              %h4 #{pluralize(@users_count, "Game Member")}
  %br
  .row
    .col-md-8
      .row
        %label{class: "game-list-title"} Games list
        = link_to "Create Game", new_creator_game_path(@creator), class: "pull-right btn btn-success"
      %br
      .row
        %div{id: "rules"}
          %table{class: "table table-hover table-condensed table-striped"}
            - if @games.any?
              - @games.each do |game|
                %tr
                  %td
                    = game.name
                  %td
                    #{pluralize(game.rules.count, "Rule")}
                  %td
                    = link_to "View Game", creator_game_path(@creator, game), class: "btn btn-info pull-left"
            - else
              %h4 No games created yet!