.container-fluid
  .col-md-offset-1
    %h3 Create User Account
  .col-md-offset-3
    = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put, class: "form-horizontal" } do |f|
      = devise_error_messages!
      = f.hidden_field :invitation_token
      .col-md-6
        .form-group
          = f.label :name, class: "col-sm-6 control-label"
          .col-sm-6
            = f.text_field :name, autofocus: true, placeholder: "Name", class: "form-control"
        .form-group
          = f.label :email, class: "col-sm-6 control-label"
          .col-sm-6
            = f.email_field :email, placeholder: "Email", class: "form-control"
        .form-group
          = f.label :password, class: "col-sm-6 control-label"
          .col-sm-6
            = f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control"
        .form-group
          = f.label :password_confirmation, class: "col-sm-6 control-label"
          .col-sm-6
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", class: "form-control"
      .col-md-5
        .form-group
          .row
            = f.label "Upload your Avatar", class: "col-sm-5 control-label", style: "margin-top:-15px;"
          .row
            .col-md-6
              = image_tag "http://placehold.it/150x150/95a5a6/ffffff", class: "preview img-thumbnail" , style: "width:150px;height:150px"
          .row
            .col-md-4
              %span{class: "btn btn-primary btn-block btn-file", style: "margin-left:15px;margin-top:7px;"}
                Upload
                = f.file_field :avatar, id: "imgfile"
      .form-group
        .col-md-offset-3.col-sm-4
          = f.submit "Create Account", class: "btn btn-success btn-block"

%footer
  :javascript
    $("#imgfile").change(function(){
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.preview').attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        }
    });

