!!!
%html{lang: I18n.locale, dir: "#{html_direction}"}
  %head
    %title Gamification
    %meta{'http-equiv' => 'Content-Type', :content => "text/html; charset: utf-8"}
    %meta{'http-equiv' => 'Content-Language', :content => "#{I18n.locale}"}
    = stylesheet_link_tag    "application-#{I18n.locale}", media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body{class: "normal-wrapper"}
    .container-fluid
      = render "layouts/header"
    .container-fluid
      .row-fluid
        = render "layouts/flash_messages"
      .row-fluid
        = yield
    .home-wrapper.footer.navbar-fixed-bottom{style: "padding-top:5px;#{check_home}"}
      .container-fluid
        = render "layouts/footer"
