!!!
%html{lang: I18n.locale}
  %head
    %title Gamification
    = stylesheet_link_tag    "application-#{I18n.locale}", media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      = render "layouts/header"
    .container-fluid
      .row-fluid
        = render "layouts/flash_messages"
      .row-fluid
        = yield
    .footer.navbar-fixed-bottom{style: "padding-top:10px;"}
      .container-fluid
        = render "layouts/footer"
